@import '../../styles/_theme.css';

.container {
  font: bold 1.4em/1 var(--gym-font-stack-text);
  background-color: var(--gym-orange);
  color: var(--gym-white);
  border: 0;
  padding: 1em;
  border-radius: 0.125em;
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
  text-align: center;
}

.container:hover {
  background-color: var(--gym-light-gray);
}

.fullWidth {
  width: 100%;
}
