:root {
  /** colors **/
  --gym-orange: #f8971d;
  --gym-black: #222222;
  --gym-white: #ffffff;
  --gym-light-gray: #a6a6a6;

  /** typefaces */
  --gym-font-stack-text: brandon-grotesque, 'Helvetica Neue', Helvetica,
    sans-serif;
}
