.featuredCoursesTitleContainer {
  text-align: center;
  margin: 4rem 0 1rem 0;
  border-top: 2px solid var(--gym-gray);
  display: block;
}

.featuredCoursesTitleContainer h1 {
  display: inline-block;
  background: white;
  padding: 0 3rem;
  position: relative;
  top: -1rem;
}

.featuredCourses ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 0.5rem;
}

.featuredCourses ul li {
  display: inherit;
  width: auto;
  box-sizing: content-box;
  padding-left: 0;
  padding-right: 0;
}

.viewCoursesPrompt {
  font-family: var(--gym-font-stack);
  font-weight: bold;
  font-size: 1.7rem;
}
