.headerTab {
  text-align: center;
  background-color: var(--gym-light-page-background);
  padding-bottom: 2rem;
}

.headerTab:before {
  display: table;
  content: ' ';
}

.headerTab h1 {
  margin-top: -1em;
  display: inline-block;
  margin-bottom: 1em;
}

.headerTab h1:before {
  display: inline-block;
  width: 100%;
  height: 0;
  content: ' ';
  line-height: 0;
  padding-right: 1em;
  padding-left: 1em;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  z-index: 100;
  color: var(--gym-light-page-background);
  border-bottom: 1.4em solid var(--gym-light-page-background);
  border-right: 1.4em dashed transparent;
  border-left: 1.4em dashed transparent;
}

.howItWorks {
  text-align: left;
}

.howItWorks h2 {
  font-family: var(--gym-font-stack);
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
  margin-bottom: 1rem;
}

.howItWorks p {
  color: #999;
  font-size: 1.1rem;
}
