:root {
  /** colors **/
  --gym-blue: #0065de;
  --gym-orange: #ff5f14;
  --gym-black: #222222;
  --gym-white: #ffffff;
  --gym-gray: #cccccc;
  --gym-dark-gray: #444444;
  --gym-light-gray: #a6a6a6;
  --gym-light-page-background: #ebebeb;

  /** typefaces */
  --gym-font-stack: brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  --gym-font-stack-text: 'Helvetica Neue', Helvetica, sans-serif;
}
