.viewingJobsIn {
  margin: 1rem 0;
  font-weight: bold;
}

.jobListing {
  font: 1em/1.15 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ccc;
  font-size: 0.9em;
}

.jobListing a {
  display: block;
  position: relative;
  color: #f8971d;
  height: auto;
  padding: 0.6em 1.2em 0.6em 0em;
  overflow: hidden;
  transition: 0.2s padding-left ease-in-out;
  text-decoration: none;
}

.jobListing a:hover {
  padding-left: 1.2em;
}

.jobListing a:hover:before {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font: 1em/1 monospace, monospace;
  color: #f8971d;
  content: '→';
  height: 0;
  line-height: 0;
  margin: auto;
}

.jobListing a:hover .job-post b {
  text-decoration: underline;
}
