.courseList {
  list-style: none;
  padding-top: 1rem;
  border-top: 1px solid var(--gym-gray);
}

.courseContainer figcaption {
  background-color: var(--gym-dark-gray);
  padding: 1rem;
}

.courseContainer figcaption a {
  color: var(--gym-white);
}

.courseContainer figcaption a:hover {
  text-decoration: none;
}
